.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.detail__img {
  border-radius: 0.5rem;
}

.detail__img:hover{
  transform: scale(0.97);
  transition: 0.3s ease;
}

.detail__badge {
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.7rem;
}

.detail__badge.alive {
  background-color: green;
}

.detail__badge.dead {
  background-color: crimson;
}
.detail__badge.unknown {
  background-color: var(--text-color);
}

.detail__list span {
  color: var(--first-color);
}
