.card {
  position: relative;
  height: 100%;
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.card__img {
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}

.card__badge--title,
.card__title {
  font-weight: var(--font-medium);
}

.card__title {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.card__specie,
.card__location {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.card__badge {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  background-color: var(--text-color-light);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.card__badge.alive {
  background-color: green;
}
.card__badge.dead {
  background-color: crimson;
}

.card__badge--title {
  font-size: var(--small-font-size);
  color: #fff;
}
